#navbar{
display: flex;
gap: 80px;
text-decoration: none;
margin-left: 10%;

}
.instagramlogo{
    width: 80px;   
}

.icons{
width: 40px;
}
.icon{
width: 50px;
}
.input{
    padding-right: 50px;
}
.button2{
position: absolute;
top: 0;
right: 0;
border: none;
background-color: transparent;
cursor: pointer;
}


a{
text-decoration: none;
}
.iconImage{
width: 20px;
}
#button1{
background-color: rgb(227, 227, 232);
border-radius: 50%;
width: 120px;
height: 100px;
margin-left: 100px;


}
#Login{
    margin-left: 250px;
}

#button2{
background-color: rgb(202, 202, 230);
border-radius: 40%;
width: 100px;
height: 50px;
}
#container2{
display: flex;
margin-bottom: 10px;
}
#page1{
display: flex;
}
.img1{
width: 30px;
}
.img2{
    width: 40px;
}
#page2{
display: flex;
gap: 5%;
}
.FindBook{
    position: relative;
    display: inline-block;
    width: 170px;
}
.FindBook input{
    border: 1px solid;
    border-radius: 30px;
    padding-right: 40px;
    padding: 15%;
    width: 200px;
}
.FindBook searchbutton{
    position: absolute;
    margin-left: 450px;
    padding: 8%;
    top: 25%;
    width: 70%;
    border: none;
    background-color: rgb(113,182,176);
    border-radius: 40%;
    width: 80px;
    height: 30px;
}
.sent{
text-align: center;
}
.image1{
    width: 400px;
border-radius: 40%;
margin-left: 50%;
}
.img3{
    width: 90px;
    
    justify-content: space-between;
}
#follow{
display: flex;
}
#text{
    font-size: larger;
}
#footer{
    display: flex;
    justify-content: space-evenly;

}

#page1{
    display: flex;
}
.text1{
font-size: larger;
}
#container1{
    background-color: white;

}
#container3{
justify-content: center;
margin-left: 20%;
}
#text3{
margin-left: 9%;
display: flex;
gap: 2%;
}
#page2{
    margin-left: 20%;
}
#last{
background-color: rgb(205, 205, 212);


}
